:root {
  --text: "#343a40";
  --bgColor: "#adb5bd";
  --backgroundElm: "#fff";
  --border: "#adb5bd";
  --primary: #e64980;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  position: relative;
  color: var(--text);
}
.main {
  background-color: var(--bgColor);
  height: calc(100vh - 67px);
}
/* ////////// */
/* header */
.nav-list {
  list-style: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 2px solid var(--border);
  background-color: var(--backgroundElm);
}
.nav-item-logo {
  font-size: 20px;
}
.nav-item-user {
  gap: 20px;
}
.toggler-box {
  background-color: var(--bgColor);
  width: 70px;
  padding: 5px 10px;
  border-radius: 999px;
  box-shadow: 0 0 1px 1px #ccc;
}

/* ////// */
/* main */
.container {
  padding: 0 50px;
}

/* header */
.main-header {
  padding: 50px 0 30px 0;
  gap: 15px;
}
.main-header .header-input {
  background-color: var(--backgroundElm);
  padding: 10px;
  width: 20%;
}
.main-header .header-input::placeholder {
  font-weight: bold;
  color: var(--text);
}
input {
  color: var(--text);
  border-radius: 5px;
}
input:focus {
  outline-color: var(--primary);
}
/* table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--backgroundElm);
}

td,
th {
  text-align: start;
  padding: 10px;
  border: 2px solid var(--border);
}
td:first-child,
th:first-child {
  width: 45%;
}
td:nth-child(2),
th:nth-child(2) {
  width: 20%;
}
td:nth-child(3),
th:nth-child(3) {
  width: 20%;
}
td:last-child,
th:last-child {
  width: 15%;
}
a {
  color: var(--primary);
}

/* /////////////// */
/* UI */
/* btn */
.page-btn {
  padding: 5px 10px;
}
.active {
  background-color: var(--primary) !important;
  color: white !important;
}
/* not found */
.not-found {
  padding: 10px;
  text-align: center;
  border-top: none;
}
/* no data */
#no-data {
  width: 100%;
  bottom: -299px;
  padding: 50px 0;
  background-color: var(--backgroundElm);
}
/* btn */
.btn-delete {
  cursor: pointer;
  color: #e64980;
  text-decoration: underline;
}
#btn-delete-confirm {
  color: var(--border);
}
#btn-delete-confirm:hover {
  color: var(--primary);
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-color: var(--backgroundElm);
  font-weight: bold;
}
.btn:hover,
.btn:active {
  transform: scale(1.1);
  opacity: 0.95;
}
.btn-red {
  background-color: var(--primary) !important;
  padding: 8px 20px;

  color: white;

  border-radius: 5px;
}

/* backdrop */
#backdrop {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
}

/* modal */
.modal {
  top: 10%;
  left: calc(50% - 225px);

  background-color: var(--backgroundElm);
  padding: 30px 20px;
  border-radius: 10px;
  width: 450px;
  z-index: 3;
  animation: fadeIn 0.5s ease-in;
}
#delete-modal {
  height: 270px;
}
#addmodal {
  height: 500px;
}
.modal header {
  margin-bottom: 40px;
}
.modal footer {
  margin-top: 30px;
}
/* add modal */
label {
  margin-bottom: 5px;
  font-size: 18px;
}

.add-input {
  color: #343a40;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.select {
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../public/arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 28px;
  padding-right: 20px;
}
select:focus {
  outline-color: var(--primary);
}
option {
  padding: 10px;
  margin-bottom: 10px;
}
.error-msg {
  color: var(--primary);
  font-size: 14px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

/* delete modal */
#delete-modal h2 {
  width: 100%;
  text-align: center;
}
/* icon x */
#Capa_1 {
  color: var(--border) !important;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
#Capa_1:hover {
  color: var(--primary) !important;
}
/* ///////////////////////////////////// */
/* base css */
/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* flex */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.flex-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
/* gap */
.gap-0 {
  gap: 0;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}
/* border */
.border-2px-solid {
  border: 2px solid var(--border);
}

/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
/* display */
.block {
  display: block;
}
.hidden {
  display: none;
}

/* text */
.font-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}

.ml-auto {
  margin-left: auto;
}
.mt-20 {
  margin-top: 20px;
}
